header {background-color: white; height: 70px; width: 100%; border-bottom: 1px solid #CCCCCC;}
header div {
    background-image: url(/images/logo.png); 
    height: 60px; 
    width: 142px; 
    margin-left: 20px;
    transform: translate(0, 5px);
}
