.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    transform: translate(-25px, 12px);
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    position: absolute;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    position: absolute;
    left: 250px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 20px 0 0 60px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 60px
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0;
}

.popover h2 {
    font-size: 16px;
    text-align: left;
}

.locations:hover .popover {
    display: block;
}

.amenities:hover .popover {
    display: block;
}