.filters {
<<<<<<< HEAD
    color: white;
=======
    background-color: white;
>>>>>>> refs/remotes/origin/main
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
<<<<<<< HEAD
    display: flex;
    align-items: center;
=======
    position: relative;
>>>>>>> refs/remotes/origin/main
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
<<<<<<< HEAD
    margin-right: 30px;
    margin-left: auto;
}

button:hover {
    opacity: 0.9;
}

h3 {
    font-weight: 600;
    color: #484848;
    margin: 10px 40px 5px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    margin: 0 40px;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.popover {
    background-color: #FAFAFA;
    color: #484848;
    width: 100%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    display: block;
    visibility: hidden;
    z-index: 1;
    position: relative;
    margin-top: 17px;
}

.popover li {
    margin: 10px 50px;
=======
    float: right;
    transform: translate(-25px, 12px);
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    position: absolute;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    position: absolute;
    left: 250px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 20px 0 0 60px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 60px
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0;
    list-style: none;
    display: none;
}

.popover h2 {
    font-size: 16px;
    text-align: left;
    margin: 25px 0 0 37px;
}

.popover h3 {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 60px;
>>>>>>> refs/remotes/origin/main
}

.locations:hover .popover {
    display: block;
<<<<<<< HEAD
    visibility: visible;
}

.filters .amenities:hover .popover {
    display: block;
    visibility: visible;
=======
}

.amenities:hover .popover {
    display: block;
>>>>>>> refs/remotes/origin/main
}